html(lang="zh_CN")
  head
    title API文档
    <link href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  body
    div.markdown-body
      p > #{txt}
      include:markdown ../docs.md