head  
  link(rel="stylesheet", href="../public/stylesheets/style.css")
  link(rel="stylesheet", href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.css")
body(style="background: none;")
  //- include:
  :markdown #{text}