body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FAF7F0;
}

a {
  color: #00B7FF;
}

.wrap {
  padding: 3vw;
}
.text-up {
  text-transform: capitalize;
}
.middle {
  vertical-align: middle;
}
.text-diy {
  padding-left: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}